# Node / Frontend
/frontend/node_modules
/frontend/dist
/frontend/public/build

# Python / Backend
/__pycache__/
*.pyc
*.pyo
*.pyd
/backend/.env
/backend/.env.local

# IDEs
/.idea
/.vscode

# Docker
docker-data/
infra/.env
